body {
    background-image: url(/imagens/background.jpg);
	background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.pasta-code {
    padding: 40px;
}

.atencao {
    font-size: 12px;
    margin-left: 70px;
	padding: 10px;
}

#texto-principal {
    margin-left: 80px;
    background: #c5f0cc;
    box-shadow: 0px 0px 10px black;
}

.button-codificar {
    background: #c5f0cc;
    position: relative;
    top: 50px;
    right:600px;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
	font-weight: bold;
}

.button-codificar:active {
    padding: 10px 40px 10px 40px;
}

.button-decodificador {
    background: #c5f0cc;
    position: relative;
    top: 50px;
    right: 500px;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
	font-weight: bold;
}


.button-decodificador:active {
    padding: 10px 40px 10px 40px;
}

#texto-secundario {
    position: relative;
    left: 800px;
    bottom: 400px;
    background: #c5f0cc;
	box-shadow: 0px 0px 10px black;
}

.button-copiar {
    position: relative;
    bottom: 350px;
    left: 500px;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    background: #c5f0cc;
    box-shadow: 0px 0px 10px black;
	font-weight: bold;
}

.button-copiar:active {
    padding: 10px 40px 10px 40px;
}

button:hover {
	cursor: pointer;
}

.rodape {
    
    text-align: center;
    position: relative;
    
}

.criacao {
    font-size: 25px;
}

@media screen and (max-width: 1000px) {
    
	body {
		flex-direction: column;
		
	}

    #texto-principal {
        position: relative;
        width: 90%;
        right: 60px;
    }

    .button-codificar {
        position: relative;
        padding: 15px 20px 15px 20px;
        top: 20px;
        left: 40px;
    }
    .button-decodificador {
        position: relative;
        padding: 15px 20px 15px 20px;
        top: 20px;
        left: 70px;
    }
    
    #texto-secundario {
        position: static;
        width: 90%;
        margin-top: 35px;
		right: 60px;
    }

    .button-copiar {
        position: relative;
        padding: 15px 20px 15px 20px;
        top: 60px;
        left: 0;
   }

    .rodape {
        position: relative;
        top: 20vw;
		padding: 20px;
    }

    .criacao {
        font-size: 1.50em;
        text-align: center;
        margin: auto;
    }
}